<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('Cathedra fragments')"></head>
<body>

<div th:replace="fragments/month-timetables-fragments :: menu-site-month-timetables"></div>

<div th:fragment="new-month-timetable">
    <form th:method="POST" th:action="@{/month-timetables}" th:object="${monthTimetable}" class="row mb-1 m-lg-2">
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="date" class="form-label">Date</label>
                <input th:field="*{date}" id="date"
                       type="date" class="form-control"
                       placeholder="Enter date">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create</button>
                <button onclick="history.back()" class="btn btn-secondary">Go back</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>