<configuration debug="true">

    <property name="LOGS" value="./logs"/>
    <property name="ARCHIVE" value="${LOGS}/archived"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Spring-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-8.8relative %d{ISO8601} [%25.25thread] %-5level %42.42c{1} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${ARCHIVE}/spring/spring-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 1MB, keep 7 days worth of history, but at most 10MB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="Service-File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/service.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-8.8relative %d{ISO8601} [%25.25thread] %-5level %29.29c{1} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${ARCHIVE}/service/service-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 1MB, keep 7 days worth of history, but at most 10MB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="ua.com.foxminded.university.service" level="DEBUG">
        <appender-ref ref="Service-File"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="Spring-FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>