<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('Groups by cathedra')"></head>
<body>

<div th:replace="fragments/groups-fragments :: menu-site-for-groups"></div>

<table aria-label="Groups table" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Cathedra</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group: ${groupsByCathedraId}">
        <td th:text="${group.getId()}"></td>
        <td th:text="${group.getName()}"></td>
        <td th:text="${group.getCathedra().getName()}"></td>
        <td>
            <a th:href="@{/students/by_group/{groupId}(groupId = ${group.getId()})}"
               class="btn btn-outline-primary"
               role="button">Show students</a>
            <a th:href="@{/groups/{id}(id = ${group.getId()})}"
               class="btn btn-outline-primary"
               role="button">Info</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/groups-fragments :: groups-by-cathedra-pagination"></div>

</body>
</html>