<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('Group info')"></head>
<body>

<head th:replace="fragments/groups-fragments :: menu-site-for-groups"></head>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Group</h5>
        <p th:text="| ID: ${group.getId()} |" class="card-text">VALUE</p>
        <p th:text="| Name: ${group.getName()} |" class="card-text">VALUE</p>
        <p th:text="| Cathedra: ${group.getCathedra().getName()} |" class="card-text">VALUE</p>
        <a onclick="history.back()" class="btn btn-primary">Go back</a>
    </div>
</div>

</body>
</html>