<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('Timetable by month table')"></head>
<body>

<div th:replace="fragments/day-timetables-fragments :: menu-site-for-day-timetables"></div>

<div th:fragment="by-month-timetable">
    <table aria-label="day timetable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Start time</th>
            <th scope="col">Lecture Hall</th>
            <th scope="col">Subject</th>
            <th scope="col">Group</th>
            <th scope="col">Teacher</th>
            <th scope="col">
                <a th:href="@{/day-timetables/{id}/new(id=${monthTimetableId})}"
                   type="button"
                   class="btn btn-outline-primary">New timetable
                </a>
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timetable: ${dayTimetablesByMonthTimetable}">
            <td th:text="${timetable.getStartTime()}"></td>
            <td th:text="${timetable.getLectureHall()}"></td>
            <td th:text="${timetable.getSubject()}"></td>
            <td th:text="${timetable.getGroup().getName()}"></td>
            <td th:text="| ${timetable.getTeacher().getFirstName()} ${timetable.getTeacher().getLastName()} |"></td>
            <td class="d-flex flex-row text-nowrap bd-highlight">
                <a th:href="@{/day-timetables/{id}(id = ${timetable.getId()})}"
                   class="btn btn-outline-primary ms-1"
                   role="button">Info</a>
                <a th:href="@{/day-timetables/{id}/edit(id = ${timetable.getId()})}"
                   class="btn btn-outline-primary ms-1"
                   role="button">Edit</a>
                <form th:method="DELETE" th:action="@{/day-timetables/{id}(id=${timetable.getId()})}"
                      class="input-group ms-1">
                    <input type="submit" class="btn btn-outline-primary" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/day-timetables-fragments :: day-timetables-by-month-timetable-pagination"></div>

</body>
</html>