<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('Timetables')"></head>
<body>

<div th:replace="fragments/day-timetables-fragments :: menu-site-for-day-timetables"></div>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 th:text="| ${dayTimetable.getMonthTimetable().getDate()} |" class="card-title">Card title</h5>
        <p th:text="| Start time: ${dayTimetable.getStartTime()} |" class="card-text">VALUE</p>
        <p th:text="| Lecture hall: ${dayTimetable.getLectureHall()} |" class="card-text">VALUE</p>
        <p th:text="| Subject: ${dayTimetable.getSubject()} |" class="card-text">VALUE</p>
        <p th:text="| Group: ${dayTimetable.getGroup().getName()} |" class="card-text">VALUE</p>
        <p th:text="| Teacher: ${dayTimetable.getTeacher().getFirstName()} ${dayTimetable.getTeacher().getLastName()} |" class="card-text">VALUE</p>
        <a onclick="history.back()" class="btn btn-primary">Go back</a>
    </div>
</div>

</body>
</html>