<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: header ('New teacher')"></head>
<body>

<head th:replace="fragments/teachers-fragments :: menu-site-for-teachers"></head>

<div th:fragment="new-teacher">
    <form th:method="POST" th:action="@{/teachers}" th:object="${teacherDto}" class="row mb-1 m-lg-2">
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="firstName" class="form-label">First Name</label>
                <input th:field="*{firstName}" id="firstName" type="text" class="form-control"
                       placeholder="Enter first name of teacher">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname Error</div>
        </div>
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input th:field="*{lastName}" id="lastName" type="text" class="form-control"
                       placeholder="Enter last name of teacher">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname Error</div>
        </div>
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="phone" class="form-label">Phone</label>
                <input th:field="*{phone}" id="phone" type="text" class="form-control"
                       placeholder="Enter phone of teacher">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
        </div>
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="qualification" class="form-label">Qualification</label>
                <input th:field="*{qualification}" id="qualification" type="text" class="form-control"
                       placeholder="Enter qualification of teacher">
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}">Qualification Error</div>
        </div>
        <div class="row mb-1 col-form-label">
            <div class="col-sm-3">
                <label for="inputState" class="form-label">Cathedra</label>
                <select th:field="*{cathedraId}" id="inputState" class="form-select">
                    <option th:value="0" disabled>Select</option>
                    <option th:each="cathedra : ${cathedras}"
                            th:value="${cathedra.id}"
                            th:text="${cathedra.getName()}">
                    </option>
                </select>
                <div style="color:red" th:if="${#fields.hasErrors('cathedraId')}" th:errors="*{cathedraId}"></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create</button>
                <button onclick="history.back()" class="btn btn-secondary">Go back</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>